@charset "utf-8";

@font-face {
  font-family: ye;
  src: url(Sweet\ Vusstain.ttf);
}

@font-face {
  font-family: future;
  src: url(blackfuture.otf);
}

@font-face {
  font-family: isu;
  src: url(Chunkfive\ Ex.ttf);
}

p {
  font-size: larger;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {

  height: 100vh;
  width: 100%;
}

main {
  margin-top: 175px;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  width: 100%;
  padding: 20px 4%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
  margin: 0 40px;
}

header ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header h2 {
  color: #471066;
  font-family: future;
}

header h2 span.nome {
  color: #94C9F4;
  font-family: future;
}

footer {
  background: #53677D;
  width: 100%;
  min-height: 250px;
  display: flex;
}

footer .box {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  margin-left: 50px;
}

footer .box:nth-child(4) {
  width: 400px;
}

.box h2 {
  color: white;
  margin-bottom: 20px;
}

.box ul li {
  margin: 10px 0;
  list-style-type: none;
}

.box ul li a {
  color: white;
  text-decoration: none;
}

.box ul li a:hover {
  color: aqua;
}

.redes img {
  margin-left: 5px;
  border-radius: 10px;
}

.container2 {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 0 20px;
  animation: surgir 10s ease-in-out;
  animation-timeline: view();
  animation-range: cover 10% cover 25%;
}



.wrapper {
  width: 100%;
  margin: 0 auto;
}

section.modulo p {
  margin-bottom: 40px;
  text-align: justify;
  font-size: 1.4em;
}

section.modulo h2 {
  margin-bottom: 40px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
}

section.modulo.content {
  padding: 40px 0;
  background: #ffffff;
}

section.modulo.parallax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


section.modulo.parallax h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  z-index: 50;
}

section.modulo.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(255, 255, 255, 0) 80%, rgb(0, 0, 0) 100%);
}

@keyframes surgir {
  from {
    opacity: 0;
    translate: -100vw 0;

  }

  to {
    opacity: 1;
    translate: 0 0;

  }

}

section.modulo.parallax-1 {
  background-image: url("https://mgomesadvocacia.com.br/wp-content/uploads/2022/10/maria-gomes-advocacia-sobre.jpg");
}

section.modulo.parallax-2 {
  background-image: url("https://img.migalhas.com.br/gf_Base/empresas/miga/imagens/E4F84F0717A63EDDE0986E980122889D6760_advogado.jpg");
}

section.modulo.parallax-3 {
  background-image: url("family2mod.jpeg");
  background-position: top;
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-29 11:35:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #ffffff, 0 3px 0 #ffffff, 0 4px 0 #ffffff, 0 5px 0 #ffffff, 0 6px 0 #ffffff, 0 7px 0 #ffffff, 0 8px 0 #ffffff, 0 9px 0 #ffffff, 0 50px 30px rgba(255, 250, 250, 0.3);
  }
}

@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }

  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #ffffff, 0 2px 0 #cccccc, 0 3px 0 #ffffff, 0 4px 0 #ffffff, 0 5px 0 #cccccc, 0 6px 0 #ffffff, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #ffffff, 0 50px 30px rgba(255, 255, 255, 0.3);
  }
}


section.modulo.content .container2 a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.tracking-out-expand-fwd {
  -webkit-animation: tracking-out-expand-fwd 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  animation: tracking-out-expand-fwd 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
}

.tracking-out-expand-fwd {
  -webkit-animation: tracking-out-expand-fwd 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s reverse both;
  animation: tracking-out-expand-fwd 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s reverse both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-30 11:43:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

@keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 0;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
  animation: slide-in-bck-center 7s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-30 11:46:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bck-center
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: ye;
  font-size: 30px;

}

h1 {
  font-family: isu;
}

a {
  font-weight: 900;
  font-size: 15px;
}

div.aha {
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.text {
  display: flex;
  text-align: center;
  justify-content: center;
}